.form-section {
  width: 100%;
  margin: 246px 0 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("/src/assets/backgrounds/backgroundLines.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;

  h2 {
    width: 90%;
    max-width: 707px;
    text-align: center;
  }

  .form-frame {
    margin-top: 50px;
    position: relative;
    width: 70%;
    max-width: 940px;
    height: 780px;
    backdrop-filter: blur(15px);
    border-radius: 48px;
    background: linear-gradient(87.3deg,
            rgba(73, 93, 244, 0.05) -2.43%,
            rgba(180, 113, 255, 0.05) 84.8%);

    &::before {
      position: absolute;
      padding: 1.7px;
      content: "";
      inset: calc(0px - 1.7px);
      border-radius: 48px;
      background: linear-gradient(90deg, #4832F7, #9357EB, #F65CCB);
      -webkit-mask: linear-gradient(90deg, #4832F7, #9357EB, #F65CCB) content-box,
      linear-gradient(90deg, #4832F7, #9357EB, #F65CCB);
      -webkit-mask-composite: xor;
    }

    h4 {
      font-weight: 700;
      font-size: 34px;
      line-height: 44px;
      text-align: center;
      letter-spacing: -0.02em;
      color: #FBFBFF;
    }

    &-box {
      max-width: 940px;
      padding: 37px 0 0;
      width: 57%;
      margin: 0 auto;

      .margin-r {
        margin-right: 10px;
      }

      .group-inputs {
        display: flex;
        justify-content: space-between;

        .input-box {
          max-width: 250px;
        }
      }

      .checkbox-input {
        margin: 29px 0;
        display: flex;
        align-items: center;

        .personal-checkbox {
          position: relative;
          width: 20px;
          height: 20px;
          border-radius: 6px;
          cursor: pointer;
          display: flex;
          align-items: center;
          justify-content: center;
          background: linear-gradient(87.3deg,
                  rgba(73, 93, 244, 0.05) -2.43%,
                  rgba(180, 113, 255, 0.05) 84.8%);

          &::before {
            position: absolute;
            padding: 1px;
            content: "";
            inset: calc(0px - 1px);
            border-radius: 6px;
            background: linear-gradient(90deg, #4832F7, #9357EB, #F65CCB);
            -webkit-mask: linear-gradient(90deg, #4832F7, #9357EB, #F65CCB) content-box,
            linear-gradient(90deg, #4832F7, #9357EB, #F65CCB);
            -webkit-mask-composite: xor;
          }
        }

        input {
          visibility: hidden;
        }

        p {
          margin-left: 10px;
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 24px;
        }
      }

      .center {
        width: 100%;
        display: flex;
        justify-content: center;
      }

      .square {
        position: relative;
        z-index: 1;
        width: 100%!important;
        max-width: 446px!important;
        height: 48px!important;
        transform: none!important;
        border-radius: 8px!important;
        margin: 10px auto 0;

        span {
          font-family: 'Poppins',sans-serif;
          transform: none;
          font-size: 16px;
          text-transform: capitalize;
        }
      }
    }

    .first-logo {
      position: absolute;
      top: 178px;
      left: 52px;
      opacity: 0.8;
    }

    .second-logo {
      position: absolute;
      top: 96px;
      left: 123px;
      rotate: 349deg;
      opacity: 0.6;
    }

    .third-logo {
      position: absolute;
      top: 57px;
      left: 29px;
      rotate: 6deg;
      opacity: 0.4;
    }
  }
}
