#dropdown {
  cursor: pointer;
  max-width: 93%;
}

.dropdown-arrow {
  position: absolute;
  right: 22px;
  top: 22px;
  rotate: 0deg;
  transition: 200ms;
}

.dropdown-items {
  position: absolute;
  top: 57px;
  width: 540px;
  background: linear-gradient(88.06deg, #392958 -17.17%, #293455 128.48%);
  backdrop-filter: blur(14.2958px);
  border-radius: 15px;

  &::before {
    position: absolute;
    padding: 1.7px;
    content: "";
    inset: calc(0px - 1.7px);
    border-radius: 15px;
    background: linear-gradient(90deg, #4832F7, #9357EB, #F65CCB);
    -webkit-mask: linear-gradient(90deg, #4832F7, #9357EB, #F65CCB) content-box,
    linear-gradient(90deg, #4832F7, #9357EB, #F65CCB);
    -webkit-mask-composite: xor;
  }

  .item {
    position: relative;
    cursor: pointer;
    height: 24px;
    margin: 8px 1px 8px 0;
    padding-left: 16px;

    &:first-child {
      border-radius: 4px 4px 0 0;
    }

    &:last-child {
      border-radius: 0 0 4px 4px;
    }

    p {
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 24px;
    }

    &:hover {
      background-image: linear-gradient(87.3deg, #495DF4 -2.43%, #B471FF 84.8%);
    }
  }
}