.facilities-section {
  width: 100%;

  &-container {
    width: 95%;
    max-width: 1150px;
    margin: 0 auto;
    align-items: center;
    display: flex;
    flex-direction: column;

    img {
      margin: 0 auto;
      width: 98%;
      max-width: 1130px;
    }
  }

  &-list {
    width: 100%;
    max-width: 1140px;
    margin: 40px 0 50px;
    display: flex;
    justify-content: space-between;

    li {
      max-width: 192px;

      &:not(:last-child) {
        margin-right: 25px;
      }
    }

    h3 {
      min-height: 60px;
      max-width: 150px;
      margin-bottom: 5px;
      text-transform: none !important;
      display: flex;
      align-items: flex-end;
      background: -webkit-linear-gradient(0deg, #5054EE, #9F1EEE);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    p {
      font-weight: 500;
      font-size: 16px;
    }
  }
}