.btn {
  width: 185px;
  height: 38px;
  background: linear-gradient(91deg, #5054EE, #9F1EEE);
  transform: skew(-15deg);
  color: #FBFBFF;
  border: none;
  border-radius: 5px;
  cursor: pointer;

  span {
    width: 100%;
    height: 38px;
    color: #FBFBFF;
    transform: skew(15deg);
    font-family: 'Gilroy', sans-serif;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
  }
}