.future-section {
  width: 100%;
  margin: 298px auto 50px;
  display: flex;
  flex-direction: column;
  align-items: center;

  h2 {
    max-width: 700px;
    text-align: center;
    line-height: 50px;
  }

  img {
    max-width: 1417px;
    margin-top: -46px;
    width: 95%;
    min-height: 416px;
  }
}