.main-section {
  width: 100%;
  
  &-container {
    max-width: 719px;
    height: 306px;
    margin: 200px auto 200px;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (max-width: 600px) {
      width: 90%;
    }

    p {
      color: #c9c9cc!important;
      font-weight: 400;
      font-size: 20px;
      text-align: center;
      max-width: 541px;

      @media (max-width: 600px) {
        font-size: 16px;
      }
    }

    p:not(:first-child) {
      margin-top: 5px;
    }

    h1 {
      margin: 16px auto;
      text-align: center;
      line-height: 51px;

      @media (max-width: 600px) {
        font-size: 24px !important;
        line-height: 32px;
      }
    }
  }

  button {
    margin-top: 16px;
    width: 280px;
    height: 60px;

    @media (max-width: 600px) {
      margin-top: 104px;
    }
    span {
      font-size: 18px;

      @media (max-width: 600px) {
        height: 60px;
      }
    }
  }
}
