.diversity-section {
  width: 100%;
  max-width: 587px;
  margin: 50px auto 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  h2 {
    max-width: 360px;
    font-weight: 600 !important;

    @media (max-width: 600px) {
      width: 90%;
      font-size: 24px;
      line-height: 32px;
    }
  }

  p {
    margin: 10px 0 16px;
    font-weight: 500;
    font-size: 18px;
    line-height: 29px;
    color: #D6D6D6;

    @media (max-width: 600px) {
      width: 90%;
      font-weight: 400;
      font-size: 18px !important;
      line-height: 24px;
    }
  }

  span {
    text-transform: none!important;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
  }
}