.control {

  &-section {
    width: 100%;
    margin: 295px auto 50px;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (max-width: 860px) {
      margin: 180px auto 50px;
    }

    h2 {
      max-width: 1109px;
      margin: 0 50px;
      text-align: center;
      line-height: 50px;

      @media (max-width: 860px) {
        width: 90%;
        font-size: 24px !important;
        line-height: 32px;
      }
    }

    &-container {
      width: 90%;
      max-width: 1230px;
      margin-top: 63px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      @media (max-width: 860px) {
        flex-direction: column;
      }
    }
  }

  &-text-box {
    position: relative;
    margin-top: -65px;
    max-width: 500px;

    @media (max-width: 860px) {
      order: 2;
      margin-top: 65px;
    }

    h3 {
      font-style: normal;
      font-weight: 600!important;
      font-size: 24px!important;
      line-height: 36px;
      text-transform: uppercase;
      background: linear-gradient(91.43deg, #5054EE 0%, #9F1EEE 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;

      @media (max-width: 860px) {
        font-size: 20px !important;
        line-height: 28px;
        text-align: center;
      }

      &:last-child {
        margin-top: 15px;
      }
    }

    p {
      margin-top: 8px;
      max-width: 410px;
      font-style: normal;
      font-weight: 300;
      font-size: 18px;
      line-height: 29px;

      @media (max-width: 860px) {
        align-self: center;
        margin: 8px auto;
        font-size: 16px !important;
        line-height: 24px;
        text-align: center;
      }
    }
  }

  &-img {
    position: relative;
    margin-right: 80px;


    @media (max-width: 1400px) {
      margin-right: 100px;
    }

    img {

      @media (max-width: 860px) {
        width: 37vw;
      }

      @media (max-width: 600px) {
        width: 45vw;
      }
    }

    .first-logo {
      position: absolute;
      bottom: 148px;
      left: -80px;
      rotate: 357deg;
      opacity: 0.4;

      @media (max-width: 860px) {
        display: none;
      }
    }

    .second-logo {
      position: absolute;
      bottom: 69px;
      left: -80px;
      rotate: 336deg;
      opacity: 0.8;

      @media (max-width: 860px) {
        display: none;
      }
    }

    .third-logo {
      position: absolute;
      bottom: -32px;
      left: -60px;
      rotate: 7deg;

      @media (max-width: 860px) {
        display: none;
      }
    }

    .fourth-logo {
      position: absolute;
      top: 376px;
      right: -87px;
      rotate: 41deg;

      @media (max-width: 860px) {
        top: 60vw;
      }
    }

    .fifth-logo {
      position: absolute;
      top: 271px;
      right: -43px;
      rotate: 344deg;
      opacity: 0.8;

      @media (max-width: 860px) {
        top: 45vw;
      }
    }

    .sixth-logo {
      position: absolute;
      top: 241px;
      right: -132px;
      rotate: 25deg;
      opacity: 0.4;

      @media (max-width: 860px) {
        top: 37vw;
      }
    }
  }
}
