.control {

  &-section {
    width: 100%;
    margin: 295px auto 50px;
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
      max-width: 1109px;
      margin: 0 50px;
      text-align: center;
      line-height: 50px;
    }

    &-container {
      width: 90%;
      max-width: 1230px;
      margin-top: 63px;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

  &-text-box {
    position: relative;
    margin-top: -65px;
    max-width: 500px;

    h3 {
      font-style: normal;
      font-weight: 600!important;
      font-size: 24px!important;
      line-height: 36px;
      text-transform: uppercase;
      background: linear-gradient(91.43deg, #5054EE 0%, #9F1EEE 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;

      &:last-child {
        margin-top: 15px;
      }
    }

    p {
      margin-top: 8px;
      max-width: 410px;
      font-style: normal;
      font-weight: 300;
      font-size: 18px;
      line-height: 29px;
    }
  }

  &-img {
    position: relative;
    margin-right: 80px;


    @media (max-width: 1400px) {
      margin-right: 100px;
    }

    .first-logo {
      position: absolute;
      bottom: 148px;
      left: -80px;
      rotate: 357deg;
      opacity: 0.4;
    }

    .second-logo {
      position: absolute;
      bottom: 69px;
      left: -80px;
      rotate: 336deg;
      opacity: 0.8;
    }

    .third-logo {
      position: absolute;
      bottom: -32px;
      left: -60px;
      rotate: 7deg;
    }

    .fourth-logo {
      position: absolute;
      top: 376px;
      right: -87px;
      rotate: 41deg;
    }

    .fifth-logo {
      position: absolute;
      top: 271px;
      right: -43px;
      rotate: 344deg;
      opacity: 0.8;
    }

    .sixth-logo {
      position: absolute;
      top: 241px;
      right: -132px;
      rotate: 25deg;
      opacity: 0.4;
    }
  }
}
