.counter-field {
  display: flex;
  flex-direction: column;
  align-items: center;

  span {
    margin-top: 8px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20.4138px;
    line-height: 31px;
    text-align: center;
    color: #D6D6D6;
  }
}

.dot {
  position: absolute;
  z-index: 2;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: black;

  @media (max-width: 550px) {
    width: 2px;
    height: 2px;
  }

  &-big {
    position: absolute;
    z-index: 2;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #0F0F0F;

    @media (max-width: 550px) {
      width: 10px;
      height: 10px;
    }
  }
}

.field {
  position: relative;
  z-index: 0;
  width: 147px;
  height: 60px;
  background: linear-gradient(91.43deg, #252252 0%, #381552 100%);
  border-radius: 9px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: clip;

  @media (max-width: 550px) {
    width: 95px;
    height: 40px;
    border-radius: 3px;
  }

  &-box {
    height: 127.5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media (max-width: 550px) {
      height: 82.5px;
    }
  }

  span {
    position: relative;
    font-size: 102.069px;
    letter-spacing: -0.085em;
    margin-left: -10px;

    @media (max-width: 550px) {
      font-size: 66px;
    }
  }

  &-top {
    position: relative;

    span {
      top: 38px;

      @media (max-width: 550px) {
        top: 19px;
      }
    }

    &-dot-big-first {
      left: -9px;
      bottom: -10px;

      @media (max-width: 550px) {
        left: -6px;
        bottom: -6px;
      }
    }

    &-dot-big-second {
      right: -9px;
      bottom: -10px;

      @media (max-width: 550px) {
        right: -6px;
        bottom: -6px;
      }
    }

    &-dot-first {
      left: 10px;
      bottom: 1px;


      @media (max-width: 550px) {
        left: 5px;
        bottom: 2px;
      }
    }

    &-dot-second {
      right: 10px;
      bottom: 1px;

      @media (max-width: 550px) {
        right: 5px;
        bottom: 2px;
      }
    }
  }

  &-bottom {
    position: relative;

    span {
      top:-30px;

      @media (max-width: 550px) {
        top: -24px;
      }
    }

    &-dot-big-first {
      left: -9px;
      top: -10px;

      @media (max-width: 550px) {
        left: -6px;
        top: -5px;
      }
    }

    &-dot-big-second {
      right: -9px;
      top: -10px;

      @media (max-width: 550px) {
        right: -6px;
        top: -5px;
      }
    }

    &-dot-first {
      left: 10px;
      top: 2px;

      @media (max-width: 550px) {
        left: 5px;
        top: 2px;
      }
    }

    &-dot-second {
      right: 10px;
      top: 2px;

      @media (max-width: 550px) {
        right: 5px;
        top: 2px;
      }
    }
  }

  &-animate-top {

    &:after {
      position: absolute;
      z-index: 1;
      bottom: 0;
      height: 100%;
      opacity: 0;
      display: block;
      border-radius: 9px;
      content: '';
      contain: content;
      width: 100%;
      background: linear-gradient(260.54deg, #8B459D 0%, #3739A4 96.4%);
      animation: 200ms linear slide-top-to-bottom;

      @keyframes slide-top-to-bottom {
        0% {
          opacity: 1;
          height: 100%;
        }

        100% {
          opacity: 1;
          height: 0;
        }
      }
    }
  }

  &-animate-bottom {

    &:after {
      position: absolute;
      z-index: 1;
      top: 0;
      display: block;
      border-radius: 9px;
      height: 100%;
      opacity: 0;
      content: '';
      width: 100%;
      background: linear-gradient(260.54deg, #8B459D 0%, #3739A4 96.4%);
      animation: 200ms slide-bottom-to-top;
      animation-delay: 200ms;

      @keyframes slide-bottom-to-top {
        0% {
          opacity: 1;
          height: 0;
        }

        100% {
          opacity: 1;
          height: 100%;
        }
      }
    }
  }
}