@font-face {
  font-family: "Gilroy";
  src: local("../public/fonts/Gilroy-Regular.ttf");
}

* {
  margin: 0;
}

body {
  min-width: 320px;
}

#root {
  max-width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #0F0F0F;

  h1 {
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    color: wheat;
  }

  a {
    text-decoration: none;
  }

  ul {
    margin-left: 0;
    padding-left: 0;
  }

  li {
    list-style-type: none;
  }
}
