@font-face {
  font-family: "Gilroy";
  src: local("../public/fonts/Gilroy-Regular.ttf");
}

* {
  margin: 0;
  color: #FBFBFF;
  -webkit-tap-highlight-color: transparent;
}

body {
  min-width: 320px;
  background-color: #0F0F0F;
}

#root {
  max-width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;

  h1, h2, h3, h4, h5 {
    font-family: "Poppins", sans-serif;
  }

  h1, h2 {
    background: -webkit-linear-gradient(300deg, #5054EE, #9F1EEE);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  h1 {
    font-weight: 700;
    font-size: 34px;
  }

  h2 {
    font-weight: 500;
    font-size: 30px;
  }

  h3 {
    font-weight: 500;
    font-size: 20px;
  }

  h4 {
    font-weight: 700;
    font-size: 34px;
    line-height: 44px;
  }

  h5 {
    font-weight: 500;
    font-size: 17px;
  }


  p {
    font-family: "Poppins", sans-serif;
    color: #FBFBFF;
  }

  a {
    text-decoration: none;
  }

  ul {
    margin-left: 0;
    padding-left: 0;
  }

  li {
    list-style-type: none;
  }

  .error-input {

    &::before {
      background: #B43636 !important;
    }
  }

  button {
    &:hover {
      &:before {
        opacity: 1;
      }
    }

    &:active {
      box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);

      &:before {
        opacity: 0.1;
      }
    }
  }
}
